<h1>
  Tasks
</h1>

<p><%= link_to 'New Task', new_task_path %></p>
<% @tasks.each do |task| %>
  <h2><%= task.task %></h2>
  <%= link_to 'Show Tasks', task_path(task) %>
  <br/>
  <%= link_to 'Edit Task', edit_task_path(task) %>
  <br/>
  <%= link_to 'Delete Task', task, method: :delete %>
  <br/>
<% end %>